body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #080808; /* Configura o fundo */
}

.wrapper {background-color: #080808};

  h1 {
    text-align: center;
    font-size: 24px;
  }


.botao-voltar {
  display: inline-block;
  padding: 10px 15px;
  background-color: #080808; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  text-decoration: none; /* Remove sublinhado padrão */
  border-radius: 5px; /* Borda arredondada */
  transition: background-color 0.3s; /* Transição suave de cor de fundo */
  font-family: "Margarine", sans-serif;
}

.botao-voltar:hover {
  background-color: #333; /* Cor de fundo alterada ao passar o mouse */
  color:#6145ff;
}

.secao-baixo1 {
  font-family:sans-serif;
  font-size: 12px;
  color: #fff; /* Cor do texto */
  text-align: left; /* Alinhamento do texto */
  margin-top: 40px; /* Espaçamento entre os quadrados e a seção */
  width: 500px; /* Ajuste a largura como desejar */
}

.secao-baixo {
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  font-style: normal; 
  color: #fff; /* Cor do texto */
  text-align: center; /* Alinhamento do texto */
  width: 500px; /* Ajuste a largura como desejar */
}

.quadrado-texto {
  width: 500px; /* Ajuste a largura como desejar */
  height: 500px; /* Ajuste a altura como desejar */
  background-color: #000000; /* Cor de fundo do quadrado */
  border: 2px solid #ffffff; /* Bordas cinzas */
  position: relative; /* Permite posicionar o texto dentro do quadrado */
  margin: 20px auto; /* Centraliza o quadrado na tela */
  left: -400px; /* Distância da borda esquerda da tela */
}

.quadrado-texto1 {
  width: 500px; /* Ajuste a largura como desejar */
  height: 590px; /* Ajuste a altura como desejar */
  background-color: #000000; /* Cor de fundo do quadrado */
  border: 2px solid #ffffff; /* Bordas cinzas */
  position: relative; /* Permite posicionar o texto dentro do quadrado */
  margin: 20px auto; /* Centraliza o quadrado na tela */
  left: 400px; /* Distância da borda esquerda da tela */
}

.quadrado-texto2 {
  width: 500px; /* Ajuste a largura como desejar */
  height: 500px; /* Ajuste a altura como desejar */
  background-color: #000000; /* Cor de fundo do quadrado */
  border: 2px solid #ffffff; /* Bordas cinzas */
  position: relative; /* Permite posicionar o texto dentro do quadrado */
  margin: 20px auto; /* Centraliza o quadrado na tela */
  left: -400px; /* Distância da borda esquerda da tela */
}

.quadrado-texto3 {
  width: 500px; /* Ajuste a largura como desejar */
  height: 500px; /* Ajuste a altura como desejar */
  background-color: #000000; /* Cor de fundo do quadrado */
  border: 2px solid #ffffff; /* Bordas cinzas */
  position: relative; /* Permite posicionar o texto dentro do quadrado */
  margin: 20px auto; /* Centraliza o quadrado na tela */
  left: 400px; /* Distância da borda esquerda da tela */
}

.quadrado-texto4 {
  width: 500px; /* Ajuste a largura como desejar */
  height: 500px; /* Ajuste a altura como desejar */
  background-color: #000000; /* Cor de fundo do quadrado */
  border: 2px solid #ffffff; /* Bordas cinzas */
  position: relative; /* Permite posicionar o texto dentro do quadrado */
  margin: 20px auto; /* Centraliza o quadrado na tela */
  left: -400px; /* Distância da borda esquerda da tela */
}

.texto-dentro {
  position: absolute; /* Posicionamento absoluto para dentro do quadrado */
  top: 50%; /* Posiciona no meio vertical */
  left: 50%; /* Posiciona no meio horizontal */
  transform: translate(-50%, -50%); /* Compensa a metade da largura e altura */
  text-align: center; /* Centraliza o texto */
  font-family: "Stalemate", sans-serif;
  font-size: 50px; /* Ajuste o tamanho da fonte */
  color: #ffffff; /* Cor do texto */
}

.a2 {
border: 2px solid #ccc; /* Borda do botão */
border-radius: 5px; /* Bordas arredondadas */
text-align: center; 
width: 110px; /* Defina a largura desejada para a navegação */
padding: 13px; /* Adicione preenchimento interno aos links */
justify-content: left;
}

nav a {
  text-decoration: none;
  color: #ffffff; 
  padding: 0.5em 1em;
  border-radius: 5px; /* Faz borda e arredonda o botão */
  transition: background-color 0.3s;
  position: relative; /* Adiciona posição relativa para o posicionamento do submenu */
}

nav a:hover {
  background-color: #333; /* Configura a cor de fundo quando passa o mouse em cima do texto (menu de baixo) */
  color: #6145ff; /* Configura a cor do texto quando passa o mouse em cima do texto (menu de baixo) */
}
